@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import "tailwindcss";
/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html{
  scroll-behavior: smooth;

}


body {
  color: var(--foreground);
  background: #FBF0D9;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Bricolage Grotesque" , Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}






.container_section-green{
  @apply w-full bg-green-900 py-6;
}

.container_section-white{
  @apply w-full bg-[#FBF0D9] text-[#0F3714] py-6;
}

.container_content{
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12 md:py-18 overflow-hidden;

}



.button_black_bg{
  @apply bg-[#0F3714] text-white px-4 py-2 rounded-md hover:bg-transparent hover:text-black border border-[#0F3714]  transition;
}

.button_white_bg{
  @apply bg-transparent text-black px-4 py-2 rounded-md hover:bg-[#0F3714] hover:text-white border border-[#0F3714] transition;
}


.black-layer {
  @apply absolute inset-0 bg-black/50;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
